# Ignore node_modules directory
node_modules/

# Ignore build output directories
dist/
build/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore specific file types
*.tmp
*.swp
# Ensure package.json and package-lock.json (or yarn.lock) are tracked
!*/package.json
!*/package-lock.json
!*/yarn.lock

#ignore intellij folder
.idea/